@import 'utils';

.page {
    position: relative;
    top: 60px;
}

.split-page {
    position: relative;
    left: 300px;
    width: calc(100% - 300px);
    height: 100%;
    padding: 2rem;
}

.page-header {
    margin-bottom: 2rem;
    h1 {
        font-size: 3rem;
        font-weight: 600;
    }
}

.button {
    background-color: $light;
    padding: 0.8rem 2.5rem;
    border-radius: 30px;
    border: none;
    margin-bottom: 2rem;
    text-decoration: none;
    color: $dark;
    font-size: 1.4rem;
    font-weight: 600;
    transition: $eio;
    cursor: pointer;
    &:hover {
        background-color: $light-active;
        transition: $eio;
    }
}

.hero-text {
    @include flex-column-center;
    h1 {
        font-family: $ral;
        font-size: 4rem;
        font-weight: 600;
    }
}

.back-button {
    position: fixed;
    top: 60px;
    margin-left: 2rem;
    margin-top: 2rem;
}

.gallery-header {
    margin-top: 2rem;
}

.research-rack {
    width: 1000px;
    margin-top: 2rem;
    border: 3px solid $light;
    padding: 1rem;
    border-radius: 10px;
    overflow-x: scroll;
    ul {
        @include flex-row-center;
        list-style: none;
    }

    a {
        @include grid2;
        margin-right: 2rem;
        border: 3px solid $light;
        background-color: $dark;
        padding: 1rem;
        text-decoration: none;
        color: $light;
        border-radius: 10px;
        transition: $eio;
        cursor: pointer;
        &:hover {
            border-color: $light-active;
            background-color: $dark-active;
            color: $light;
            transition: $eio;
        }
    }
}

.weave-rack {
    width: 1000px;
    margin-top: 2rem;
    border: 3px solid $light;
    padding: 1rem;
    border-radius: 10px;
    overflow-x: scroll;
    ul {
        @include flex-row-center;
        list-style: none;
    }

    a {
        @include grid2;
        margin-right: 2rem;
        border: 3px solid $light;
        background-color: $dark;
        padding: 1rem;
        border-radius: 10px;
        text-decoration: none;
        color: $light;
        transition: $eio;
        cursor: pointer;
        &:hover {
            border-color: $light-active;
            background-color: $dark-active;
            color: $light;
            transition: $eio;
        }
    }
}

.topic-metadata {
    @include flex-column-center;
    width: 400px;
    h3 {
        font-size: 1.4rem;
        font-weight: 600;
    }
    p {
        font-size: 1.2rem;
        font-weight: 400;
    }
}

.weave-metadata {
    @include flex-column-center;
    width: 400px;
    h3 {
        font-size: 1.4rem;
        font-weight: 600;
    }
    p {
        font-size: 1.2rem;
        font-weight: 400;
    }
}

.data-grid {
    @include flex-column-center;
}

.data-card {
    @include flex-column-center;
    width: 1000px;
    border: 3px solid $light;
    padding: 1rem;
    border-radius: 10px;
    transition: $eio;
    margin-bottom: 2rem;
    cursor: pointer;
    &:hover {
        border-color: $light-active;
        background-color: $dark-active;
        color: $light;
        transition: $eio;
    }
}

.data-card-metadata {
    @include grid6;
    p {
        font-size: 1.2rem;
        font-weight: 400;
        margin: 2rem;
    }
}

.page-header {
    @include flex-column-center;
    width: 80%;
    margin: auto;
    h1 {
        font-size: 3rem;
        font-weight: 600;
    }
}

.add-button {
    @include flex-center;
    background-color: transparent;
    border: none;
    margin-bottom: 2rem;
    text-decoration: none;
    border-radius: 50%;
    color: $light;
    font-size: 10rem;
    font-weight: 600;
    transition: $eio;
    margin-top: 2rem;
    &:hover {
        background-color: $dark-active;
        color: $light-active;
        transition: $eio;
    }
}

.add-form {
    @include flex-column-center;
    width: 100%;
    max-width: 100%;
    padding: 1rem;
    border-radius: 10px;

    form {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    input {
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid $light;
        background-color: $dark;
        color: $light;
        flex: 0 1 200px;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }
}

.checkbox-container {
    @include flex-row-center;
    gap: 3rem;
}

